.movieDetails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin: 50px;
    text-align: center;
    font-weight: bold;
}
.movie-img {
    border-radius: 10px;
}



